#colors {

    padding: 20px;

    .box {
        display: inline-block;
        text-align: center;
        font-size: 40px;
        padding: 50px;
    }

    h1 {
        margin-bottom: 20px;
    }

    h3 {
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }

    pre {
        font-size: 14px;
    }
}