// Pass Variables to Sass Map
$variables: (
    --primaryColor: var(--primaryColor), // Proprety Name as Param
    --primaryColor-100: var(--primaryColor-100), 
    --primaryColor-200: var(--primaryColor-200), 
    --primaryColor-300: var(--primaryColor-300), 
    --primaryColor-400: var(--primaryColor-400), 
    --primaryColor-500: var(--primaryColor-500),
    --primaryColor-600: var(--primaryColor-600), 
    --secondaryColor: var(--secondaryColor),
    --secondaryColor-100: var(--secondaryColor-100),
    --secondaryColor-200: var(--secondaryColor-200),
    --secondaryColor-300: var(--secondaryColor-300),
    --secondaryColor-400: var(--secondaryColor-400),
    --secondaryColor-500: var(--secondaryColor-500),
    --secondaryColor-600: var(--secondaryColor-600),
    --notification-success: var(--notification-success),
    --notification-danger: var(--notification-danger),
    --notification-warning: var(--notification-warning),
    --notification-info: var(--notification-info),
    --loyalty-tier1-100: var(--loyalty-tier1-100),
    --loyalty-tier1-200: var(--loyalty-tier1-200),
    --loyalty-tier1-300: var(--loyalty-tier1-300),
    --loyalty-tier1-400: var(--loyalty-tier1-400),
    --loyalty-tier2-100: var(--loyalty-tier2-100),
    --loyalty-tier2-200: var(--loyalty-tier2-200),
    --loyalty-tier2-300: var(--loyalty-tier2-300),
    --loyalty-tier2-400: var(--loyalty-tier2-400),
    --loyalty-tier3-100: var(--loyalty-tier3-100),
    --loyalty-tier3-200: var(--loyalty-tier3-200),
    --loyalty-tier3-300: var(--loyalty-tier3-300),
    --loyalty-tier3-400: var(--loyalty-tier3-400),
    --loyalty-tier4-100: var(--loyalty-tier4-100),
    --loyalty-tier4-200: var(--loyalty-tier4-200),
    --loyalty-tier4-300: var(--loyalty-tier4-300),
    --loyalty-tier4-400: var(--loyalty-tier4-400),
    --loyalty-tier5-100: var(--loyalty-tier5-100),
    --loyalty-tier5-200: var(--loyalty-tier5-200),
    --loyalty-tier5-300: var(--loyalty-tier5-300),
    --loyalty-tier5-400: var(--loyalty-tier5-400),
    --loyalty-tier6-100: var(--loyalty-tier6-100),
    --loyalty-tier6-200: var(--loyalty-tier6-200),
    --loyalty-tier6-300: var(--loyalty-tier6-300),
    --loyalty-tier6-400: var(--loyalty-tier6-400),
    --loyalty-badge-tier1-100: var(--loyalty-badge-tier1-100),
    --loyalty-badge-tier1-200: var(--loyalty-badge-tier1-200),
    --loyalty-badge-tier1-300: var(--loyalty-badge-tier1-300),
    --loyalty-badge-tier1-400: var(--loyalty-badge-tier1-400),
    --loyalty-badge-tier2-100: var(--loyalty-badge-tier2-100),
    --loyalty-badge-tier2-200: var(--loyalty-badge-tier2-200),
    --loyalty-badge-tier2-300: var(--loyalty-badge-tier2-300),
    --loyalty-badge-tier2-400: var(--loyalty-badge-tier2-400),
    --loyalty-badge-tier3-100: var(--loyalty-badge-tier3-100),
    --loyalty-badge-tier3-200: var(--loyalty-badge-tier3-200),
    --loyalty-badge-tier3-300: var(--loyalty-badge-tier3-300),
    --loyalty-badge-tier3-400: var(--loyalty-badge-tier3-400),
    --loyalty-badge-tier4-100: var(--loyalty-badge-tier4-100),
    --loyalty-badge-tier4-200: var(--loyalty-badge-tier4-200),
    --loyalty-badge-tier4-300: var(--loyalty-badge-tier4-300),
    --loyalty-badge-tier4-400: var(--loyalty-badge-tier4-400),
    --loyalty-badge-tier5-100: var(--loyalty-badge-tier5-100),
    --loyalty-badge-tier5-200: var(--loyalty-badge-tier5-200),
    --loyalty-badge-tier5-300: var(--loyalty-badge-tier5-300),
    --loyalty-badge-tier5-400: var(--loyalty-badge-tier5-400),
    --loyalty-badge-tier6-100: var(--loyalty-badge-tier6-100),
    --loyalty-badge-tier6-200: var(--loyalty-badge-tier6-200),
    --loyalty-badge-tier6-300: var(--loyalty-badge-tier6-300),
    --loyalty-badge-tier6-400: var(--loyalty-badge-tier6-400),
    --credit-card-100: var(--credit-card-100),
    --credit-card-200: var(--credit-card-200),
    --credit-card-300: var(--credit-card-300),
    --credit-card-400: var(--credit-card-400),
    --font-primaryColor: var(--font-primaryColor),
    --font-secondaryColor: var(--font-secondaryColor),
    --font-tertiaryColor: var(--font-tertiaryColor),
    --high-contrastColor: var(--high-contrastColor),
    --high-contrastBorderColor: var(--high-contrastBorderColor),
    --font-xs: var(--font-xs),
    --font-xs-100: var(--font-xs-100),
    --font-xs-200: var(--font-xs-200),
    --font-xs-300: var(--font-xs-300),
    --font-xs-400: var(--font-xs-400),
    --font-sm: var(--font-sm),
    --font-sm-100: var(--font-sm-100),
    --font-sm-200: var(--font-sm-200),
    --font-sm-300: var(--font-sm-300),
    --font-sm-400: var(--font-sm-400),
    --font-md: var(--font-md),
    --font-md-100: var(--font-md-100),
    --font-md-200: var(--font-md-200),
    --font-md-300: var(--font-md-300),
    --font-md-400: var(--font-md-400),
    --font-md-500: var(--font-md-500),
    --font-md-600: var(--font-md-600),
    --font-lg: var(--font-lg),
    --font-lg-100: var(--font-lg-100),
    --font-lg-200: var(--font-lg-200),
    --font-lg-300: var(--font-lg-300),
    --font-lg-400: var(--font-lg-400),
    --font-lg-500: var(--font-lg-500),
    --font-lg-600: var(--font-lg-600),
    --font-xl: var(--font-xl),
    --font-xl-100: var(--font-xl-100),
    --font-xl-200: var(--font-xl-200),
    --font-xl-300: var(--font-xl-300),
    --font-xl-400: var(--font-xl-400),
    --font-xl-500: var(--font-xl-500),
    --font-xl-600: var(--font-xl-600),
    --font-xxl: var(--font-xxl),
    --font-xxl-100: var(--font-xxl-100),
    --font-xxl-200: var(--font-xxl-200),
    --font-xxl-300: var(--font-xxl-300),
    --font-xxl-400: var(--font-xxl-400),
    --font-xxl-500: var(--font-xxl-500),
    --font-xxl-600: var(--font-xxl-600),
    --tertiaryColor: var(--tertiaryColor),
    --accentColor: var(--accentColor),
    --logoUrl: var(--logoUrl),
    --logoWidth: var(--logoWidth),
    --logoHeight: var(--logoHeight),
    --borderRadius: var(--borderRadius),
);

// fn: Map variable name to properties in the body
@function var($variable) {
    @return map-get($variables, $variable);
}
