<div id="badging" class="container-fluid">
 <div class="row">
  <div class="col-md-3">
    <h4>Flight Status - AA</h4><hr>
    <ul>
      <li>
        <span class="badge badge-success">
          <i class="material-icons badge-icon-success badge-icon-circle rotate-45-right font-sm">airplanemode_active</i>
          &nbsp; On Time
        </span>
      </li>
      <li>
        <span class="badge badge-warning">
          <i class="material-icons badge-icon-warning badge-icon-circle rotate-45-right font-sm">airplanemode_active</i>
          &nbsp; Delayed 1h 45m
        </span>
      </li>
      <li>
        <span class="badge badge-danger">
            <i class="material-icons badge-icon-danger badge-icon-circle rotate-45-right font-sm">airplanemode_active</i>
            &nbsp; Canceled
        </span>
      </li>
      <li>
        <span class="badge badge-danger">
            <i class="material-icons badge-icon-danger badge-icon-circle font-sm">error</i>
            &nbsp; Leaving in 45m
        </span>
      </li>
    </ul>
    <h4>SSRs</h4><hr>
    <ul>
      <li>
        <span class="badge badge-success border-primary-200">
          3 SSR
        </span>
      </li>
      <li>
        <span class="badge-long badge-long-left bg-primary-600 white badge-mini border-prm-500">HK</span>
        <span class="badge-long badge-long-right primary-600 bg-white
        border-top-prm-500
        border-right-prm-500
        border-bottom-prm-500">Holding Confirmed</span>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
      <h4>Million Miler - AA (on dark blue bg)</h4><hr>
      <ul>
        <li>
          <span class="badge badge-border white">
            1 Million Miler
          </span>
        </li>
      </ul>
      <h4>Million Miler</h4><hr>
      <ul>
        <li>
          <span class="badge badge-padding primary-500 bg-white">
            1 Million Miler
          </span>
        </li>
        <li>
          <span class="badge badge-padding primary-500 bg-white">
            2 Million Miler
          </span>
        </li>
        <li>
          <span class="badge badge-padding primary-500 bg-white">
            3 Million Miler
          </span>
        </li>
        <li>
          <span class="badge badge-padding primary-500 bg-white">
            4+ Million Miler
          </span>
        </li>
      </ul>
  </div>
  <div class="col-md-3">
      <h4>Cobranded Card - AA (on dark blue bg)</h4><hr>
      <ul>
        <li>
          <span class="badge badge-border white">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50567 10.9154L7.56404 3.74801L13.4264 0.00268555L8.50567 10.9154ZM7.76504 12L3.87848 6.11143L6.39917 4.5008L7.76504 12Z" fill="#8B2332"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.30387 0L13.4397 0.0172256L7.57725 3.76264L1.30387 0ZM3.88647 6.1181L0 0.229701L6.40716 4.50747L3.88647 6.1181Z" fill="#CF0A2C"/>
              </svg>
                &nbsp; AMEX Blue
          </span>
        </li>
        <li>
          <span class="badge badge-border white">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50567 10.9154L7.56404 3.74801L13.4264 0.00268555L8.50567 10.9154ZM7.76504 12L3.87848 6.11143L6.39917 4.5008L7.76504 12Z" fill="#8B2332"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.30387 0L13.4397 0.0172256L7.57725 3.76264L1.30387 0ZM3.88647 6.1181L0 0.229701L6.40716 4.50747L3.88647 6.1181Z" fill="#CF0A2C"/>
              </svg>
                &nbsp; AMEX Gold
          </span>
        </li>
        <li>
          <span class="badge badge-border white">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50567 10.9154L7.56404 3.74801L13.4264 0.00268555L8.50567 10.9154ZM7.76504 12L3.87848 6.11143L6.39917 4.5008L7.76504 12Z" fill="#8B2332"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.30387 0L13.4397 0.0172256L7.57725 3.76264L1.30387 0ZM3.88647 6.1181L0 0.229701L6.40716 4.50747L3.88647 6.1181Z" fill="#CF0A2C"/>
              </svg>
                &nbsp; AMEX Platinum
          </span>
        </li>
        <li>
          <span class="badge badge-border white">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50567 10.9154L7.56404 3.74801L13.4264 0.00268555L8.50567 10.9154ZM7.76504 12L3.87848 6.11143L6.39917 4.5008L7.76504 12Z" fill="#8B2332"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.30387 0L13.4397 0.0172256L7.57725 3.76264L1.30387 0ZM3.88647 6.1181L0 0.229701L6.40716 4.50747L3.88647 6.1181Z" fill="#CF0A2C"/>
              </svg>
                &nbsp; AMEX Reserve
          </span>
        </li>
      </ul>
      <h4>Corporate Rewards Program / Agency Booking</h4><hr>
      <ul>
        <li>
          <span class="badge bg-white primary-500  border-transparent">
            <i class="material-icons font-md vertical-bottom">business_center</i>
            &nbsp; Corporate Rewards Program
          </span>
        </li>
        <li>
            <span class="badge white bg-info  border-transparent">
              Expedia Booking
            </span>
          </li>
      </ul>
  </div>
  <div class="col-md-3">
      <h4>Cobranded Card (color style)</h4><hr>
      <ul>
        <li>
          <span class="badge badge-padding bg-credit-card-100 white">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50567 10.9154L7.56404 3.74801L13.4264 0.00268555L8.50567 10.9154ZM7.76504 12L3.87848 6.11143L6.39917 4.5008L7.76504 12Z" fill="#8B2332"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.30387 0L13.4397 0.0172256L7.57725 3.76264L1.30387 0ZM3.88647 6.1181L0 0.229701L6.40716 4.50747L3.88647 6.1181Z" fill="#CF0A2C"/>
              </svg>
                &nbsp; AMEX Blue
          </span>
        </li>
        <li>
          <span class="badge badge-padding bg-credit-card-200 white">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50567 10.9154L7.56404 3.74801L13.4264 0.00268555L8.50567 10.9154ZM7.76504 12L3.87848 6.11143L6.39917 4.5008L7.76504 12Z" fill="#8B2332"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.30387 0L13.4397 0.0172256L7.57725 3.76264L1.30387 0ZM3.88647 6.1181L0 0.229701L6.40716 4.50747L3.88647 6.1181Z" fill="#CF0A2C"/>
              </svg>
                &nbsp; AMEX Gold
          </span>
        </li>
        <li>
          <span class="badge badge-padding bg-credit-card-300 white">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50567 10.9154L7.56404 3.74801L13.4264 0.00268555L8.50567 10.9154ZM7.76504 12L3.87848 6.11143L6.39917 4.5008L7.76504 12Z" fill="#8B2332"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.30387 0L13.4397 0.0172256L7.57725 3.76264L1.30387 0ZM3.88647 6.1181L0 0.229701L6.40716 4.50747L3.88647 6.1181Z" fill="#CF0A2C"/>
              </svg>
                &nbsp; AMEX Platinum
          </span>
        </li>
        <li>
          <span class="badge badge-padding bg-credit-card-400 white">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.50573 10.9154L7.5641 3.74801L13.4264 0.00268555L8.50573 10.9154ZM7.7651 12L3.87854 6.11143L6.39923 4.5008L7.7651 12Z" fill="#A2A8AB"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.30387 0L13.4397 0.0172256L7.57725 3.76264L1.30387 0ZM3.88647 6.1181L0 0.229701L6.40716 4.50747L3.88647 6.1181Z" fill="#BFC5CA"/>
              </svg>
                &nbsp; AMEX Reserve
          </span>
        </li>
      </ul>
  </div>
  <div class="col-md-3">
      <h4>Loyalty Tier - AA (on dark blue bg)</h4><hr>
      <ul>
        <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers">
          <span class="badge badge-border badge-mini white">
            {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
          </span>
          <span class="badge-label">{{ loyaltyTiers.name }}</span>
        </li>
        <li>
          <span class="badge badge-border badge-mini white">
            NM
          </span>
          <span class="badge-label">Non-member</span>
        </li>
      </ul>
  </div>
  <div class="col-md-3">
      <h4>Loyalty Tier - AA (on white/gray bg)</h4><hr>
      <ul>
        <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers">
          <span class="badge badge-border badge-mini secondary-500">
            {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
          </span>
          <span class="badge-label">{{ loyaltyTiers.name }}</span>
        </li>
        <li>
          <span class="badge badge-border badge-mini secondary-500">
            NM
          </span>
          <span class="badge-label">Non-member</span>
        </li>
      </ul>
  </div>
  <div class="col-md-3">
    <h4>Loyalty Tier Status - Colors </h4><hr>
    <ul>
      <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers; let i = index">
        <span class="badge badge-mini white high-contrast {{ 'bg-loyalty-badge-tier'+ (i+1) + '-200' }}">
          {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
        </span>
        <span class="badge-label">{{ loyaltyTiers.name }}</span>
      </li>
      <li>
        <span class="badge badge-border badge-mini white">
          NM
        </span>
        <span class="badge-label">Non-member</span>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Loyalty Tier Status - White</h4><hr>
    <ul>
      <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers">
        <span class="badge badge-mini primary-500 bg-white">
          {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
        </span>
        <span class="badge-label">{{ loyaltyTiers.name }}</span>
      </li>
      <li>
        <span class="badge badge-mini primary-500 bg-white">
          NM
        </span>
        <span class="badge-label">Non-member</span>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
      <h4><br/>Loyalty Tier Long - AA (on dark blue bg)</h4><hr>
      <ul>
        <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers">
          <span class="badge-long badge-long-left 
          border-right
          border-left-transparent 
           border-top-transparent 
           border-bottom-transparent 
          badge-mini bg-white primary-500">
            {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
          </span>
          <span class="badge-long badge-long-right  border-transparent bg-white primary-500">
            {{ loyaltyTiers.name }}
          </span>            
        </li>
        <li>
          <span class="badge-long badge-long-left 
          border-right
          border-left-transparent 
           border-top-transparent 
           border-bottom-transparent 
          badge-mini bg-white primary-500">
            NM
          </span>
          <span class="badge-long badge-long-right  border-transparent bg-white primary-500">
            Non-member
          </span>            
        </li>
      </ul>
  </div>
  <div class="col-md-4">
      <h4><br/>Loyalty Tier Long - AA (in search results, on gray bg/no status tracker)</h4><hr>
      <ul>
        <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers">
          <span class="badge-long badge-long-left border badge-mini bg-white primary-500">
            {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
          </span>
          <span class="badge-long badge-long-right border-right border-top border-bottom bg-white primary-500">
            {{ loyaltyTiers.name }}&reg;
          </span>            
        </li>
        <li>
          <span class="badge-long badge-long-left border badge-mini bg-white primary-500">
            NM
          </span>
          <span class="badge-long badge-long-right border-right border-top border-bottom bg-white primary-500">
            Non-member
          </span>            
        </li>
      </ul>
  </div>
  <div class="col-md-4">
      <h4><br/>Loyalty Tier Long - AA (in search results, selected state)</h4><hr>
      <ul>
        <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers">
          <span class="badge-long badge-long-left border badge-mini white">
            {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
          </span>
          <span class="badge-long badge-long-right border-right border-top border-bottom white">
            {{ loyaltyTiers.name }}&reg;
          </span>            
        </li>
        <li>
          <span class="badge-long badge-long-left border badge-mini white">
            NM
          </span>
          <span class="badge-long badge-long-right border-right border-top border-bottom white">
            Non-member
          </span>            
        </li>
      </ul>
  </div>
  <div class="col-md-6">
      <h4>Loyalty Tier Long - (Color Style)</h4><hr>
      <ul>
        <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers; let i = index">
          <span class="badge-long badge-long-left border-transparent badge-mini {{ 'bg-loyalty-badge-tier' + (i+1) + '-300' }} white high-contrast">
            {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
          </span>
          <span class="badge-long badge-long-right border-transparent {{ 'bg-loyalty-badge-tier' + (i+1) + '-200' }} white high-contrast">
            {{ loyaltyTiers.name }}&reg;
          </span>            
        </li>
        <li>
          <span class="badge-long badge-long-left white border-snd-200 badge-mini ">NM</span>
          <span class="badge-long badge-long-right 
          border-snd-200-right
          border-snd-200-top 
          border-snd-200-bottom
          white">Non-member</span>
        </li>
      </ul>
  </div>
  <div class="col-md-6">
      <h4>Loyalty Tier Long - (in search results, on gray bg/no status tracker)</h4><hr>
      <ul>
        <li *ngFor="let loyaltyTiers of currentSettings[0].loyaltyTiers; let i = index">
          <span class="badge-long badge-long-left  border-transparent badge-mini {{ 'bg-loyalty-badge-tier' + (i+1) + '-300' }} white high-contrast">
            {{ loyaltyTiers.abbrev === '360' ? loyaltyTiers.abbrev + '&deg;' : loyaltyTiers.abbrev }}
          </span>
          <span class="badge-long badge-long-right  border-transparent {{ 'bg-loyalty-badge-tier' + (i+1) + '-200' }} white high-contrast">
            {{ loyaltyTiers.name }}&reg;
          </span>            
        </li>
        <li>
          <span class="badge-long badge-long-left border badge-mini primary-500 high-contrast">NM</span>
          <span class="badge-long badge-long-right
          border-right
          border-top 
          border-bottom
          primary-500
          high-contrast">Non-member</span>
        </li>
      </ul>
  </div>
 </div>
</div>
