
<div class="settings">
  <div class="settings-icon">
    <i class="material-icons" (click)="toggleSettings()">
      settings
    </i>
  </div>
  <div *ngIf="settings">
    <h4>Select Framework</h4>
    <mat-form-field>
      <mat-label>Templates</mat-label>
      <mat-select [(value)]="selectedTemplate" (selectionChange)="onTemplateChange()">
        <mat-option *ngFor="let template of templates" [value]="template.id">
          {{template.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>You have selected: <b>{{selectedTemplate | uppercase}}</b></p>
  </div>
</div>

<!-- The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="ex-parent bg-primary-100">
  <div class="ex-parent__logo"></div>
</div>
 
<mat-tab-group>
  <mat-tab label="Colors">
    <app-colors [currentSettings]="currentSettings"></app-colors>
  </mat-tab>
  <mat-tab label="Typography">
    <app-typography [currentSettings]="currentSettings"></app-typography>
  </mat-tab>
  <mat-tab label="Badging">
    <app-badging [currentSettings]="currentSettings"></app-badging>
  </mat-tab>
  <mat-tab label="Iconography">
    <app-iconography [currentSettings]="currentSettings"></app-iconography>
  </mat-tab>
</mat-tab-group>




