<div id="typography" class="container-fluid primary-500">
  <div class="row">
    <div class="col-xs-12 col-md-6">

      <!-- Master List - Common Body Styles -->
      <h2>Master List</h2>

      <!-- Header Styles -->
      <h4 class="title">Header Styles</h4>
      <h1>H1 Font (Light)</h1>
      <h2>H2 Font (Book)</h2>
      <h3>H3 Font (Medium)</h3>
      <h4>H4 Font (Book)</h4>
      <h5>H5 Font (Medium)</h5>
      <h6>H6 Font (Semibold)</h6>
      <br/>

      <!-- Body Copy  -->
      <h4 class="title">Body Copy</h4>
      <p class="font-medium">Body Copy 1 Font (Medium)</p>
      <p class="font-med-italic">Body Copy 1 Font (Medium Italic)</p>
      <p class="font-semibold">Body Copy 1 Font (Semibold)</p>
      <br/>

      <!-- Label Styles -->
      <h4 class="title">Label Styles</h4>
      <p class="font-semibold label-1">Label 1 Font (Semibold)</p>
      <p class="font-medium label-2">Label 2 Font (Medium)</p>
      <p class="font-semibold label-3">Label 3 Font (Semibold)</p>
      <p class="font-semibold label-4">Label 4 Font (Semibold)</p>
      <p class="font-semibold label-5">Label 5 Font (Semibold)</p>
      <p class="font-semibold label-6">Label 6 Font (Semibold)</p>
      <br/>

    </div>
    <div class="col-xs-12 col-md-6">
      <!-- Master List - Common Body Styles -->
      <h2>Tablet Specs</h2>

      <!-- Header Styles -->
      <h4 class="title">Header Styles</h4>
      <h1 class="tab-h1">H1 Font (Light)</h1>
      <h3 class="tab-h3">H3 Font (Medium)</h3>
      <h4 class="tab-h4">H4 Font (Book)</h4>
      <h5 class="tab-h5">H5 Font (Medium)</h5>
      <h6 class="tab-h6">H6 Font (Semibold)</h6>
      <br/>

      <!-- Body Copy  -->
      <h4 class="title">Body Copy</h4>
      <p class="font-medium">Body Copy 1 Font (Medium)</p>
      <p class="font-med-italic">Body Copy 1 Font (Medium Italic)</p>
      <p class="font-semibold">Body Copy 1 Font (Semibold)</p>
      <br/>

      <!-- Label Styles -->
      <h4 class="title">Label Styles</h4>
      <p class="font-semibold label-1">Label 1 Font (Semibold)</p>
      <p class="font-semibold label-3">Label 3 Font (Semibold)</p>
      <br/>
    </div>
  </div>
  <div class="row bg-primary-600 white">
      <div class="col-xs-12 col-md-6">
  
        <!-- Master List - Common Body Styles -->
        <h2>Master List</h2>
  
        <!-- Header Styles -->
        <h4 class="title">Header Styles</h4>
        <h1>H1 Font (Light)</h1>
        <h2>H2 Font (Book)</h2>
        <h3>H3 Font (Medium)</h3>
        <h4>H4 Font (Book)</h4>
        <h5>H5 Font (Medium)</h5>
        <h6>H6 Font (Semibold)</h6>
        <br/>
  
        <!-- Body Copy  -->
        <h4 class="title">Body Copy</h4>
        <p class="font-medium">Body Copy 1 Font (Medium)</p>
        <p class="font-med-italic">Body Copy 1 Font (Medium Italic)</p>
        <p class="font-semibold">Body Copy 1 Font (Semibold)</p>
        <br/>
  
        <!-- Label Styles -->
        <h4 class="title">Label Styles</h4>
        <p class="font-semibold label-1">Label 1 Font (Semibold)</p>
        <p class="font-medium label-2">Label 2 Font (Medium)</p>
        <p class="font-semibold label-3">Label 3 Font (Semibold)</p>
        <p class="font-semibold label-4">Label 4 Font (Semibold)</p>
        <p class="font-semibold label-5">Label 5 Font (Semibold)</p>
        <p class="font-semibold label-6">Label 6 Font (Semibold)</p>
        <br/>
  
      </div>
      <div class="col-xs-12 col-md-6">
        <!-- Master List - Common Body Styles -->
        <h2>Tablet Specs</h2>
  
        <!-- Header Styles -->
        <h4 class="title">Header Styles</h4>
        <h1 class="tab-h1">H1 Font (Light)</h1>
        <h3 class="tab-h3">H3 Font (Medium)</h3>
        <h4 class="tab-h4">H4 Font (Book)</h4>
        <h5 class="tab-h5">H5 Font (Medium)</h5>
        <h6 class="tab-h6">H6 Font (Semibold)</h6>
        <br/>
  
        <!-- Body Copy  -->
        <h4 class="title">Body Copy</h4>
        <p class="font-medium">Body Copy 1 Font (Medium)</p>
        <p class="font-med-italic">Body Copy 1 Font (Medium Italic)</p>
        <p class="font-semibold">Body Copy 1 Font (Semibold)</p>
        <br/>
  
        <!-- Label Styles -->
        <h4 class="title">Label Styles</h4>
        <p class="font-semibold label-1">Label 1 Font (Semibold)</p>
        <p class="font-semibold label-3">Label 3 Font (Semibold)</p>
        <br/>
      </div>
    </div>
</div>